<a href="https://colab.research.google.com/github/yedidv/Titanic/blob/master/yedidihw3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 3

![](https://github.com/rpi-techfundamentals/hm-01-starter/blob/master/notsaved.png?raw=1)

**Save your working file in Google drive so that all changes will be saved as you work. MAKE SURE that your final version is saved to GitHub.** 

Before you turn this in, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All).  You can speak with others regarding the assignment but all work must be your own. 


## This is a 30 point assignment.

**You may find it useful to go through the notebooks from the course materials when doing these exercises.**

**If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation.**

In [1]:
files = "https://github.com/rpi-techfundamentals/hm-03-starter/raw/master/files.zip"
!pip install otter-grader && wget $files && unzip -o files.zip

Collecting otter-grader
  Downloading https://files.pythonhosted.org/packages/68/a2/dee78e2fccca262eca4b58097501dd60eb9db7e82a26f208bbbe7fed9d7c/otter_grader-1.1.2-py3-none-any.whl (169kB)
     |████████████████████████████████| 174kB 2.8MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from otter-grader) (1.0.5)
Collecting PyPDF2
  Downloading https://files.pythonhosted.org/packages/b4/01/68fcc0d43daf4c6bdbc6b33cc3f77bda531c86b174cac56ef0ffdb96faab/PyPDF2-1.26.0.tar.gz (77kB)
     |████████████████████████████████| 81kB 5.9MB/s
Requirement already satisfied: tornado in /usr/local/lib/python3.6/dist-packages (from otter-grader) (5.1.1)
Collecting pdfkit
  Downloading https://files.pythonhosted.org/packages/57/da/48fdd627794cde49f4ee7854d219f3a65714069b722b8d0e3599cd066185/pdfkit-0.6.1-py3-none-any.whl
Requirement already satisfied: dill in /usr/local/lib/python3.6/dist-packages (from otter-grader) (0.3.2)
Requirement already satisfied: nbconvert<6.0.0 in /usr/local/lib/python3.6/dist-packages (from otter-grader) (5.6.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.6/dist-packages (from otter-grader) (5.5.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from otter-grader) (3.13)
Requirement already satisfied: nbformat in /usr/local/lib/python3.6/dist-packages (from otter-grader) (5.0.7)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from otter-grader) (50.3.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from otter-grader) (2.11.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from otter-grader) (4.41.1)
Collecting docker
  Downloading https://files.pythonhosted.org/packages/9e/8c/8d42dbd83679483db207535f4fb02dc84325fa78b290f057694b057fcd21/docker-4.3.1-py2.py3-none-any.whl (145kB)
     |████████████████████████████████| 153kB 8.5MB/s
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->otter-grader) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->otter-grader) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->otter-grader) (2.8.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (2.6.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (0.4.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (3.1.5)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (1.4.2)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (0.3)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (4.3.3)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (4.6.3)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->otter-grader) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython->otter-grader) (4.4.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->otter-grader) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->otter-grader) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->otter-grader) (1.0.18)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat->otter-grader) (2.6.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from nbformat->otter-grader) (0.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->otter-grader) (1.1.1)
Requirement already satisfied: requests!=2.18.0,>=2.14.2 in /usr/local/lib/python3.6/dist-packages (from docker->otter-grader) (2.23.0)
Collecting websocket-client>=0.32.0
  Downloading https://files.pythonhosted.org/packages/4c/5f/f61b420143ed1c8dc69f9eaec5ff1ac36109d52c80de49d66e0c36c3dfdf/websocket_client-0.57.0-py2.py3-none-any.whl (200kB)
     |████████████████████████████████| 204kB 8.8MB/s
Requirement already satisfied: six>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from docker->otter-grader) (1.15.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert<6.0.0->otter-grader) (20.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert<6.0.0->otter-grader) (0.5.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->otter-grader) (0.6.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->otter-grader) (0.2.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests!=2.18.0,>=2.14.2->docker->otter-grader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests!=2.18.0,>=2.14.2->docker->otter-grader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests!=2.18.0,>=2.14.2->docker->otter-grader) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests!=2.18.0,>=2.14.2->docker->otter-grader) (2.10)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->bleach->nbconvert<6.0.0->otter-grader) (2.4.7)
Building wheels for collected packages: PyPDF2
  Building wheel for PyPDF2 (setup.py) ... done
  Created wheel for PyPDF2: filename=PyPDF2-1.26.0-cp36-none-any.whl size=61086 sha256=7b300a243f2d53b536b5026b4582e5c53315944123890361e15efe30ac1d07fd
  Stored in directory: /root/.cache/pip/wheels/53/84/19/35bc977c8bf5f0c23a8a011aa958acd4da4bbd7a229315c1b7
Successfully built PyPDF2
Installing collected packages: PyPDF2, pdfkit, websocket-client, docker, otter-grader
Successfully installed PyPDF2-1.26.0 docker-4.3.1 otter-grader-1.1.2 pdfkit-0.6.1 websocket-client-0.57.0
--2020-09-20 18:16:11--  https://github.com/rpi-techfundamentals/hm-03-starter/raw/master/files.zip
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/rpi-techfundamentals/hm-03-starter/master/files.zip [following]
--2020-09-20 18:16:12--  https://raw.githubusercontent.com/rpi-techfundamentals/hm-03-starter/master/files.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45953 (45K) [application/zip]
Saving to: ‘files.zip’

files.zip           100%[===================>]  44.88K  --.-KB/s    in 0.02s

2020-09-20 18:16:12 (1.80 MB/s) - ‘files.zip’ saved [45953/45953]

Archive:  files.zip
   creating: input/
  inflating: input/test.csv
  inflating: input/iris.csv
  inflating: input/train.csv
   creating: tests/
  inflating: tests/q01.py
  inflating: tests/q11.py
  inflating: tests/q05.py
 extracting: tests/__init__.py
  inflating: tests/q14.py
  inflating: tests/q10.py
  inflating: tests/qname.py
  inflating: tests/q07.py
  inflating: tests/q03.py
  inflating: tests/q13.py
  inflating: tests/q02.py
  inflating: tests/q12.py
  inflating: tests/q06.py
   creating: tests/.ipynb_checkpoints/
  inflating: tests/.ipynb_checkpoints/q09-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q13-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q14-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q03-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q07-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q10-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q11-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q06-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q02-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q05-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q12-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q01-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q08-checkpoint.py
  inflating: tests/q09.py
  inflating: tests/q08.py
  inflating: hm.ok

In [2]:
#Run this. It initiates autograding. 
import otter
grader = otter.Notebook()

## Exercises - For and If and Functions

(1). Create a function `list_step` that accepts 3 variables (`start`, `stop`, `step`).  The function returns a list starting at `start`, ending at `stop`, and with a step of `step`.

For example:

`list_step(5, 19, 2)`

Should return: 

`[5, 7, 9, 11, 13, 15, 17]`

In [3]:
#Answer question 1 here.

def list_step(start, stop, step): 
    list = []
    for i in range(start, stop, step): 
        list.append(i)
    return list

list = list_step(5, 19, 2)
print(list)

[5, 7, 9, 11, 13, 15, 17]

In [4]:
list1= list_step(5, 19, 2) #include this code
grader.check('q01')

    All tests passed!

(2). Create a function `list_divisible` that accepts 3 variables (`start`, `stop`, `divisible`).  Use a for loop to create a list of all numbers from `start` to `stop` which are divisible by `divisible`.

For example:

`list_divisible(1, 50, 7)`

Should return: 

`[7, 14, 21, 28, 35, 42, 49]`

In [5]:
#Answer question 2 here.

def list_divisible(start, stop, divisible): 
  list = []
  for i in range(start, stop): 
    if i % divisible == 0: 
      list.append(i)
  return list 

print(list_divisible(1, 50, 7))

[7, 14, 21, 28, 35, 42, 49]

In [6]:
list2= list_divisible(1, 50, 7) #include this code
grader.check('q02')

    All tests passed!

(3). Create a function `list_divisible_not` that accepts 4 variables (`start`, `stop`, `divisible`, `not_divisible`).  Use a for loop to create a list of all numbers from `start` to `stop` which are divisible by `divisible` but not divisible by `not_divisible`.

For example:

`list_divisible_not(1, 100, 4, 3)`

Should return: 

`[4, 8, 16, 20, 28, 32, 40, 44, 52, 56, 64, 68, 76, 80, 88, 92]`

In [7]:
#Answer question 3 here.

def list_divisible_not(start, stop, divisible, non_divisible):
  list = [] 
  for i in range(start, stop): 
    if i % divisible == 0 and i % non_divisible is not 0: 
      list.append(i)
  return list 

print(list_divisible_not(1, 100, 4, 3))

[4, 8, 16, 20, 28, 32, 40, 44, 52, 56, 64, 68, 76, 80, 88, 92]

In [8]:
list3= list_divisible_not(1, 100, 4, 3) #include this code
grader.check('q03')

    All tests passed!

## Exercises-Titanic

The following exercises will use the titanic data from Kaggle.  I've included it in the input folder just like Kaggle.

In [9]:
import numpy as np 
import pandas as pd 

# Input data files are available in the "../input/" directory.
# Let's input them into a Pandas DataFrame
train = pd.read_csv("./input/train.csv")
test  = pd.read_csv("./input/test.csv")

(4) What is the key difference between the train and the test?

In [10]:
man4="""
train is the data set used to train the algorithm and generate a model that can predict a specific outcome. 
The test set is used to test the model and see how accurate it is. So in this case, the train set is used to generate a model that ties different features
with the survival rate of passengers in the titanic. Once the model is created and trained, the training set is applied to see how accurate the model
really is. 
"""

(5) Create a new column `family` that is equal to the `SibSp` * `Parch` for both the train and the test dataframes.  DON'T use a `for` loop.

In [11]:
#Answer 
test['family'] = test['SibSp'] * test['Parch']
train['family'] = train['SibSp'] * train['Parch']
train['family'].sum()

506

In [12]:
grader.check('q05')

    All tests passed!


(6). While we can submit our answer to Kaggle to see how it will perform, we can also utilize our training data to assess accuracy. Accuracy is the percentage of predictions made correctly-i.e., the percentage of people in which our prediction regarding their survival is correct. In other words, accuracy = (#correct predictions)/(Total # of predictions). Create a function `generate_accuracy` which accepts two Pandas series objects (`predicted`, `actual`) and returns the accuracy.  

For example, when a and b are two different Pandas Series: 
`generate_accuracy(predicted, actual)`

For the sample data below, the data should retun `50.0` (i.e., a percentage).

In [13]:
#Example DATA
import pandas as pd
ex = [{'predicted': 1, 'actual': 1},
         {'predicted': 1,  'actual': 0},
         {'predicted': 0,  'actual': 1},
         {'predicted': 0,  'actual': 0} ]

df = pd.DataFrame(ex)
df

   predicted  actual
0          1       1
1          1       0
2          0       1
3          0       0

In [14]:
#Answer

def generate_accuracy(predicted, actual): 
  correct = ((predicted - actual) == 0).value_counts()[True]
  false = ((predicted - actual) == 0).value_counts()[False]
  return correct * 100 / (correct + false)

print(generate_accuracy(df.predicted, df.actual))

50.0

In [15]:
grader.check('q06')

    All tests passed!

(7) Create a column `PredEveryoneDies` which is equal to 0 for everyone in both training and testing datasets.

In [16]:
#Answer

test['PredEveryoneDies'] = 0
train['PredEveryoneDies'] = 0
print(test['PredEveryoneDies'])

0      0
1      0
2      0
3      0
4      0
      ..
413    0
414    0
415    0
416    0
417    0
Name: PredEveryoneDies, Length: 418, dtype: int64

In [17]:
grader.check('q07')

    All tests passed!

(8) Find the accuracy of `PredEveryoneDies` in predicting `Survived` using the function `generate_accuracy` that you created earlier and assign it to the `AccEveryoneDies` variable.

In [18]:
# Answer

AccEveryoneDies = generate_accuracy(train['PredEveryoneDies'], train['Survived'])

print(AccEveryoneDies)

61.61616161616162

In [19]:
grader.check('q08')

    All tests passed!

(9) In both the training and testing datasets, create the column `PredGender` that is 1 -- if the person is a woman and 0 -- if the person is a man. (This is based on the "women and children first" law of shipwrecks).  Then set `AccGender` to the accuracy of the `PredGender` in the Train dataset.

In [20]:
#Answer
def createPredGender(data): 
  data['PredGender'] = data['Sex'].replace(to_replace= ['male', 'female'], value = [0, 1])
  return data

train = createPredGender(train) 
test = createPredGender(test)

AccGender = generate_accuracy(train['PredGender'], train['Survived'])

In [21]:
grader.check('q09')

    All tests passed!

(10). Create a `generate_submission` function that accepts a DataFrame, a target column, and a filename (`df`, `target`, `filename`) and writes out the submission file with just the `passengerID` and the `Survived` columns, where the `Survived` column is equal to the target column.

For example:
`submitdie = generate_submission(train, 'PredEveryoneDies', 'submiteveryonedies.csv')`

Should return a dataframe with just `passengerID` and the `Survived` column.  

**Make sure your submission file prediction for Survived is an integer and not at float. If you submit a float it may not work.**

In [22]:
#Answer
def generate_submission(df, target, filename): 
  submission = pd.DataFrame(data = df, columns = ['PassengerId', target]).astype(int)
  submission.columns = ['PassengerId', 'Survived']
  submission.to_csv('filename')
  return submission

generate_submission(train, 'PredEveryoneDies', 'submiteveryonedies.csv')

     PassengerId  Survived
0              1         0
1              2         0
2              3         0
3              4         0
4              5         0
..           ...       ...
886          887         0
887          888         0
888          889         0
889          890         0
890          891         0

[891 rows x 2 columns]

In [23]:
grader.check('q10')

    All tests passed!

(11).  To use the [women and children first](https://en.wikipedia.org/wiki/Women_and_children_first) protocol, we will need to use the age field. This has some missing values. We are going to replace null values in the train and test set with the median value for each.  


For this particular question: 

Set the variables `AgeMissingTrain` and `AgeMissingTest` using the count of the number of missing values in the train and test sets, respectively.

Set the variable `AgeMedianTrain` and `AgeMedianTest` using the median age of the train and test sets, respectively.

In [24]:
#Answer
def MedianAndMissing(data):
    return data['Age'].isna().sum(), data['Age'].median()
AgeMissingTrain, AgeMedianTrain = MedianAndMissing(train)
AgeMissingTest, AgeMedianTest = MedianAndMissing(test)
print(AgeMissingTest, AgeMissingTrain)

86 177

In [25]:
grader.check('q11')

    All tests passed!

(12) For rows in which the age value is  missing, set the age to the appropriate median value for the train/test set.

In [26]:
#Answer
def ReplaceNamesNA(data, median): 
  data['Age'] = data['Age'].fillna(median)
  return data

train = ReplaceNamesNA(train, AgeMedianTrain) 
test = ReplaceNamesNA(test, AgeMedianTest)

In [27]:
grader.check('q12')

    All tests passed!


(13). In our initial calculation of the `PredGender` column, we made our prediction based on whether the individual was male or female.  In accordance to the [women and children first](https://en.wikipedia.org/wiki/Women_and_children_first) protocol, we hypothesize that our model could be improved by including whether the individual was a child in addition to gender. We also have a question, what age to use to determine "child"? (People weren't likely to check for IDs.)  We will check 2 ages...<13 and <18 (somewhat arbitrary but have to start somewhere) and see which yields a better accuracy. <br>

<br> 

Specifically, create 2 predictions as follows:

`train['PredGenderAge13']` should be the prediction incorporating both Gender (women survive) and Age (Children Age<13 survived while Age>=13 died)  <br>
`train['PredGenderAge18']` should be the prediction incorporating both Gender (women survive) and Age (Children Age<18 survived while Age>=18 died)  <br>

*The analysis assumes that you have addressed missing values in the earlier step and you should do it for both the train and test dataframes*

In [28]:
def ChildAndWomenSurvive(data, age): 
    data['PredGenderAge{}'.format(age)] = ((data['Age'] < age ) | (data['Sex'].isin(['female']))).astype('int')
    return data

train = ChildAndWomenSurvive(train, 13)
train = ChildAndWomenSurvive(train, 18) 
test = ChildAndWomenSurvive(test, 13)
test = ChildAndWomenSurvive(test, 18) 
print(int(sum(test.PredGenderAge13)))
train.head()

165

   PassengerId  Survived  Pclass  ... PredGender PredGenderAge13  PredGenderAge18
0            1         0       3  ...          0               0                0
1            2         1       1  ...          1               1                1
2            3         1       3  ...          1               1                1
3            4         1       1  ...          1               1                1
4            5         0       3  ...          0               0                0

[5 rows x 17 columns]

In [29]:
grader.check('q13')

    All tests passed!

(14). Calculate the accuracy for your new predictions.  Use `PredGenderAge13` in the training set to calculate `AccGenderAge13` (you can use your function again!) and `PredGenderAge18` to calcuate `AccGenderAge18`.

In [30]:
#Answer
AccGenderAge18 = generate_accuracy(train['PredGenderAge18'], train['Survived'])
AccGenderAge13 = generate_accuracy(train['PredGenderAge13'], train['Survived'])
print(AccGenderAge18, AccGenderAge13)

77.32884399551067 79.2368125701459

In [31]:
grader.check('q14')

    All tests passed!

(15). You should find that the accuracy is higher when using 13 as a designation for a child than 18. What does this tell you about the role of age in surviving a shipwreck?

In [32]:

man15="""
The accuracy for age 13 is slightly higher (79% vs 77%). This goes to show that the younger the person is, the more likely they are to survive. 
This proves that the 'women and children first' rule holds true, and they made sure to get as many young people off the boat as possible before 
they tried to get everyone else. 
"""

(16) Create a prediction file for the "women and children first" model in using the test dataset and upload it to Kaggle. Go through the process of uploading it to Kaggle. Put your Kaggle username so we can verify your prediction occued. 

**Make sure your submission file prediction is an integer and not at float. If you submit a float it may not work.**

In [33]:
kaggle_username="***your kaggle username****"
man15="https://www.kaggle.com/"+kaggle_username+"/competitions"
#This gives a link to your competition page
man15

'https://www.kaggle.com/***your kaggle username****/competitions'